[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    cp = cherry-pick
    d = diff
    f = fetch
    st = status
    sw = switch
    r = reset
    rb = rebase
    rs = restore
    wt = worktree
[push]
    default = current
[core]
    editor = nvim -f
[pull]
    rebase = true
[init]
    defaultBranch = master
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
